In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
from glob import glob
import json
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd
from pprint import pprint
import seaborn as sns

In [4]:
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)

In [6]:
data_dir = '../data/data_public/E'
build_dir = '../build/'
model_dir = os.path.join(build_dir, 'model')
metric_dir = os.path.join(build_dir, 'metric')
val_dir = os.path.join(build_dir, 'val')
tst_dir = os.path.join(build_dir, 'tst')
sub_dir = os.path.join(build_dir, 'sub')

info_file = os.path.join(data_dir, 'train', 'info.json')
train_feature_file = os.path.join(data_dir, 'train', 'main_train.data')
train_label_file = os.path.join(data_dir, 'train', 'main_train.solution')
test_feature_file = os.path.join(data_dir, 'test', 'main_test.data')
table_files = glob(os.path.join(data_dir, 'train', 'table_*.data'))

In [7]:
table_files

['../data/data_public/E/train/table_1.data',
 '../data/data_public/E/train/table_3.data',
 '../data/data_public/E/train/table_2.data']

In [9]:
with open(info_file, 'r') as f:
    info = json.load(f)
    
pprint(info)

{'relations': [{'key': ['c_01'],
                'table_A': 'main',
                'table_B': 'table_1',
                'type': 'many_to_one'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_2',
                'type': 'many_to_one'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_3',
                'type': 'many_to_one'}],
 'start_time': 1550654179,
 'tables': {'main': {'c_01': 'cat',
                     'c_02': 'cat',
                     'c_1': 'cat',
                     'c_2': 'cat',
                     'c_3': 'cat',
                     'n_1': 'num',
                     'n_2': 'num',
                     't_01': 'time'},
            'table_1': {'c_01': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'c_4': 'cat',
                        'm_1': 'multi-cat',
                        'm_2': 'multi-cat',
                        'm_3': 'multi-cat',
                        'm_4': 'multi-cat',
                        'm_5': 'multi-cat',
                        'm_6': 'multi-cat',
                        'n_1': 'num',
                        'n_2': 'num',
                        'n_3': 'num',
                        'n_4': 'num',
                        'n_5': 'num',
                        't_1': 'time',
                        't_2': 'time'},
            'table_2': {'c_02': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'c_4': 'cat',
                        't_1': 'time'},
            'table_3': {'c_02': 'cat', 'n_1': 'num', 't_01': 'time'}},
 'time_budget': 300,
 'time_col': 't_01'}

In [15]:
trn_feature = pd.read_csv(train_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(trn_feature.shape)
trn_feature.head()

(226091, 8)

,t_01,c_1,c_2,n_1,n_2,c_3,c_02,c_01
0,2017-11-20 14:59:05.767,15471562924606739488,14771401151246747869,2.5,1.0,14917135169840250636,4450187851156539593,14418132055204351816
1,2017-11-20 10:03:41.763,15471562924606739488,14771401151246747869,2.5,1.0,14917135169840250636,4450187851156539593,14418132055204351816
2,2017-11-20 09:34:46.558,15471562924606739488,14771401151246747869,2.5,1.0,2518459674421623809,4450187851156539593,14716824702713609146
3,2017-11-20 09:54:49.547,15471562924606739488,14771401151246747869,2.5,1.0,NaN,4450187851156539593,794432844916012287
4,2017-11-20 15:17:41.648,15471562924606739488,14771401151246747869,2.5,1.0,NaN,4450187851156539593,794432844916012287

In [16]:
trn_feature.t_01.min(), trn_feature.t_01.max()

(Timestamp('2017-11-13 16:00:00.596000'),
 Timestamp('2017-11-20 15:59:58.669000'))

In [18]:
tst_feature = pd.read_csv(test_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(tst_feature.shape)
tst_feature.head()

(34867, 8)

,t_01,c_1,c_2,n_1,n_2,c_3,c_02,c_01
0,2017-11-21 15:35:31.767,3617038521756852533,14771401151246747869,2.5,1.0,11000644521724705476,7512264136762122279,10335508634649872399
1,2017-11-21 05:55:06.763,3617038521756852533,14771401151246747869,2.5,1.0,3237176533105420620,7512264136762122279,15573771052877464161
2,2017-11-20 23:31:58.558,3617038521756852533,14771401151246747869,2.5,1.0,1212598175787106017,7512264136762122279,16687750388222936379
3,2017-11-20 23:57:50.547,3617038521756852533,14771401151246747869,2.5,1.0,NaN,7512264136762122279,11856320958148312023
4,2017-11-21 00:03:12.648,3617038521756852533,14771401151246747869,2.5,1.0,6015741703392652014,7512264136762122279,5622224912178203044

In [19]:
tst_feature.t_01.min(), tst_feature.t_01.max()

(Timestamp('2017-11-20 16:00:10.709000'),
 Timestamp('2017-11-21 15:59:57.654000'))