In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from glob import glob
import json
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd
from pprint import pprint
import seaborn as sns

In [3]:
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)

In [4]:
data_dir = '../data/data_public/D'
build_dir = '../build/'
model_dir = os.path.join(build_dir, 'model')
metric_dir = os.path.join(build_dir, 'metric')
val_dir = os.path.join(build_dir, 'val')
tst_dir = os.path.join(build_dir, 'tst')
sub_dir = os.path.join(build_dir, 'sub')

info_file = os.path.join(data_dir, 'train', 'info.json')
train_feature_file = os.path.join(data_dir, 'train', 'main_train.data')
train_label_file = os.path.join(data_dir, 'train', 'main_train.solution')
test_feature_file = os.path.join(data_dir, 'test', 'main_test.data')
table_files = glob(os.path.join(data_dir, 'train', 'table_*.data'))

In [5]:
table_files

['../data/data_public/D/train/table_1.data',
 '../data/data_public/D/train/table_3.data',
 '../data/data_public/D/train/table_2.data']

In [6]:
with open(info_file, 'r') as f:
    info = json.load(f)
    
pprint(info)

{'relations': [{'key': ['c_01'],
                'table_A': 'main',
                'table_B': 'table_1',
                'type': 'many_to_many'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_2',
                'type': 'many_to_many'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_3',
                'type': 'many_to_many'}],
 'start_time': 1550654179,
 'tables': {'main': {'c_01': 'cat',
                     'c_02': 'cat',
                     'n_1': 'num',
                     'n_2': 'num',
                     't_01': 'time'},
            'table_1': {'c_01': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'm_1': 'multi-cat',
                        'm_2': 'multi-cat',
                        'm_3': 'multi-cat',
                        'm_4': 'multi-cat',
                        'm_5': 'multi-cat',
                        'm_6': 'multi-cat',
                        't_01': 'time'},
            'table_2': {'c_02': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'm_1': 'multi-cat',
                        'm_2': 'multi-cat',
                        'm_3': 'multi-cat',
                        'n_1': 'num',
                        'n_2': 'num',
                        'n_3': 'num',
                        't_01': 'time',
                        't_1': 'time'},
            'table_3': {'c_02': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'n_1': 'num',
                        't_01': 'time'}},
 'time_budget': 1200,
 'time_col': 't_01'}

In [7]:
trn_feature = pd.read_csv(train_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(trn_feature.shape)
trn_feature.head()

(1888366, 5)

,c_02,c_01,n_1,n_2,t_01
0,1780623349027601515,18027512907438194420,14.5,17.5,2016-12-04 16:00:00.767
1,3549433084934381877,15546346533067525411,1.0,4.0,2016-12-06 16:00:00.763
2,3515793814025948112,15546346533067525411,2.5,8.5,2016-12-06 16:00:00.558
3,3095372767275414557,15546346533067525411,4.0,8.5,2016-12-06 16:00:00.547
4,22144318882883681,1259553816203335492,1.0,11.5,2016-12-10 16:00:00.648

In [8]:
trn_feature.t_01.min(), trn_feature.t_01.max()

(Timestamp('2016-11-27 16:00:00.500000'),
 Timestamp('2016-12-10 16:00:00.800000'))

In [9]:
tst_feature = pd.read_csv(test_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(tst_feature.shape)
tst_feature.head()

(1119778, 5)

,c_02,c_01,n_1,n_2,t_01
0,12481994899363344225,5972525029214780810,2.5,13.0,2016-12-16 16:00:00.767
1,9662769966712796885,5972525029214780810,4.0,13.0,2016-12-16 16:00:00.763
2,7649590445827361396,5972525029214780810,5.5,13.0,2016-12-16 16:00:00.558
3,17513417003587958057,5972525029214780810,7.0,13.0,2016-12-16 16:00:00.547
4,7802763930956925359,5972525029214780810,8.5,13.0,2016-12-16 16:00:00.648

In [10]:
tst_feature.t_01.min(), tst_feature.t_01.max()

(Timestamp('2016-12-11 16:00:00.500000'),
 Timestamp('2016-12-17 16:00:00.800000'))